html, body{
    height: 100%;
}


body{
    background-color: #181818;
}


h1, h2{
    font-family: Geomanist;
    font-style: normal;
    font-weight: 800;
    color: #4ACA4E;
}

p{
    color: white;
}