/* Bootstrap CSS */
@import url("global.css");   


#init, .row, .container{
    height: 100%;
}

.col{
    display: block;
}

.card{
    background: rgba(255, 255, 255, 0.05);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-success{
    background-color: #4ACA4E;
    font-family: Geomanist;
    font-style: normal;
}
