/*Autor: Arthur Serra*/
/*  ========================== fragpage.css ================================
 *  A configurações de elementos desse arquivo se propaga apenas para fragpage.html
 *  ========================================================================
*/

@import url("global.css"); /*Importa das configurações do aquivo global*/

.destaque{
    background: rgba(0, 0, 0, 1);
}

.h3{
    font-family: Geomanist;
    font-size: x-large;
    color: #4ACA4E;
}

.h6{
    font-family: Geomanist;
    color: #4ACA4E;
}

.navbar-brand{
    text-align: center;
    color: #4ACA4E;
}

.bg{
    border-bottom-color:slategray;
    border-bottom-style: solid;
}

.btn-success{
    background-color: #4ACA4E;
    font-family: Geomanist;
    font-style: normal;
}

.container{
    padding: 0;
}

.label{
    color: white;
    font-weight: 80;
}

.value{
    font-family: Geomanist;
    font-style: normal;
    color: white;
}

.itm{
    position: fixed;
    bottom: 10px;
}

.commands{
    font-family: Geomanist;
    font-style: normal;
    color: #4ACA4E;
}

.input-group-text{
    background-color: #181818;
    font-family: Geomanist;
    font-style: normal;
    color: #4ACA4E;
    font-size: smaller;
}

#saveDir{
    text-align: center;
    font-weight:normal;
    font-size: smaller;
}

#path{
    background-color: #181818;
    font-weight: bold;
}

.form-check-input:checked{
    background-color: #4ACA4E;
    border-color: #4ACA4E;
}
.border{
    border: 5px solid !important;
}

.border-success{
    border-color: #4ACA4E !important;
}

.border-warning{
    border-color: #FFC107 !important;
}